.header {
  background: #fff;
  height: 53px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #101010;
  h1 {
    margin-left: 30px;
    font-size: 40px;

    font-family: "Dancing Script", cursive;
  }
}
