.header {
  background: #ffffff3f;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fffffe;
  h1 {
    margin-left: 30px;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
  }
  svg {
    height: 30px;
    fill: #fffffe;
  }
}
